@keyframes blink {
    from {
        transform: translate(-200px, -100px);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@-webkit-keyframes blink {
    from {
        transform: translateY(-200px);
    }
    to {
        transform: translateY(0px);
    }
}

h1 {
    font-size: 50px;
    animation: blink 1s;
    padding-top: 100px
}